@font-face {
    font-family: gilroy;
    src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: plain;
    src: url(./fonts/plain-light-webfont.ttf);
}
@font-face {
    font-family: silk;
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: silk-reg;
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: plain;
}
html,body{
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}
.cursor{
    width: 2.5vw;
    height: 2.5vw;
    border: 2px solid rgba(255, 255, 255, 0.903);
    position: fixed;
    border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 100;
  mix-blend-mode: difference; 
  transition: transform 0.1s ease;
}
.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0B0B0B;
    z-index: 999;
    padding: 25vh 8vw;
}
.line-part1{
     display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}
.line-part1 h5 , .line-part1 h6 {
    font-size: 2.6vw;
    font-family: silk-reg;
    font-weight: 400;
}
.line-part1 h5{
    width: 5vw;
    text-align: right;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.4vw;
}
.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5.4vw;
     text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    /* animation-timing-function: linear; */
}
@keyframes anime {
    0%{
        font-family: plain;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
     47%{
        font-family: plain;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: silk;
         -webkit-text-stroke: 1px white;
         color: transparent;
        font-weight: 500;
        opacity: 1;

    }
    100%{
        font-family: silk;
         -webkit-text-stroke: 1px white;
         color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    
}

.main{
    position: relative;
        /* z-index: 99; */
         background-color: #151515;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

.page1 .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2vw 6vw;
}
.nav .nav-p2{
     display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5vw;
}
.nav .nav-p2 h3{
    font-size: 1vw;
    font-weight: 400;
}

.hero{
    width: 80%;
    padding-left: 28vw;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.hero:nth-child(2){
    margin-top: 15vh;
}
.hero h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.3vw;
    font-weight: 600;
    position: relative;
}
#hero1 ::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-family: silk;
    left: -21%;
    font-weight: 500;
    top: -10%;
}

.hero h2 {
      font-size: 6.9vw;
    text-transform: uppercase;
    line-height: 7.3vw;
    font-weight: 600;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.7vw;
    transition: all ease 0.3;
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 300;
       border-bottom: 0.5vw solid #ffffff00;
}

.page2{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 17vh;
   background-color: #151515;
}
.video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    object-fit: cover;
    object-position: center;
}
.video-container img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-cursor{
    height: 10vw;
    width: 10vw;
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    right:18%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-cursor i{
   font-size: 2vw;
}

.page3{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
}

.page4{
    width: 100%;
    background-color: #151515;
    position: relative;
        min-height: 100vh; 
    padding-top: 5vh;
}
.p4-content{
    width: 70%;
    margin-left: 28vw;
    position: relative;
}

.p4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
     margin-bottom: 5vw;
     position: relative;
}
.p4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: silk;
    left: -15%;
    font-weight: 600;
    top: 7%;
}
.p4-content .underline{
    width: 100%;
    border: 0.5px solid #fff;
}
.p4-content  #one{
    margin-top: -3vw;
}
.p4-content>p{
    margin-top: 4vw;
    width: 50%;
    font-size: 2.05vw;
    margin-bottom: 4vw;
}

.p4-flex{
    display: flex;

}
.p4-flex img{
    width: 48%;
    object-fit: cover;
}
.p4-flex p{
    font-size: 1vw;
    width: 25%; 
    margin-left: 2vw;
}

.p4-blue{
    background-color: #3F7DF4;
    width: 45%;
    padding: 3vw;
    position: relative;
    top: -31vh;
    left: 23vw;
}
.blue-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 1px solid #fff;
}
.blue-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
.blue-elem p{
    width: 40%;
    font-size: 1vw;
}
.page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
     padding-top: 10vh;
     position: relative;
}
.page5 .elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vh;
}
.page5 .elem h1{
    font-size: 7vw;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: rightMove ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rightMove {
    from{
        transform:translateX(0)
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
.page5 .elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vh;
}
.page5 .elem2 h1{
    font-size: 7vw;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
     transform: translateX(calc(-100% - 20px));
    animation-name: rightMove ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}
.elem span,.elem2 span{
    font-style: italic;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.footer{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 3vw;
    background-color: #151515;
}
.footer h1{
     width: 100%;
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
.footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: silk;
    left: -15%;
    font-weight: 600;
    top: 7%;
}
.underline{
    width: 100%;
    border: 0.5px solid #fff;
    margin-top: 12vh;
}
.footer .footer-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 15vw;
    padding-top: 7vw;
}
.footer-div h6{
    font-size: 1vw;
    margin-bottom: 2vw;
}
.footer-div h5{
    font-size: 1.5vw;
     font-weight: 300;
}
#copy{
    margin-top: 2vw;
    font-weight: 400;
}

